# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
# Storybook build output
storybook-static
out

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Mobile
apps/mobile/ios/Pods
apps/mobile/android/.gradle
apps/mobile/android/app/build
*.keystore
!debug.keystore
